# Backend API URL (Default for development)
VITE_API_URL=http://localhost:5000/api

# Local Payment Config (Easypaisa/JazzCash)
VITE_EASYPAISA_NUMBER=03416887454
VITE_EASYPAISA_NAME=Ahmad Ali
VITE_JAZZCASH_NUMBER=03416887454
VITE_JAZZCASH_NAME=Ahmad Ali
